<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Descripcion</th>
      <th>Precio Unitario</th>
      <th>Cantidad</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
</p-table>
<p-toast></p-toast>
